:root {
    --font-family: 'Roboto', sans-serif;
    --main-bg: white;
}

body {
    font-family: var(--font-family);
    background-color: var(--main-bg);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
nav {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*---------------HEADER--------------*/
.navList {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
}
.shopList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
}
/*-------------------------MAIN----------------*/
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}